.drew {
    height: 450px;
    width: 1200px;
}
@font-face{
    font-family: ourRoboto;
    src: url(Roboto/Roboto-Regular.ttf);
}
*{
    font-family: ourRoboto;
    color: white;
}
.drew_div{
    background-image: url(test.jpg);
    background-size: 1200px 450px ;
    height: 450px;
    width: 1200px;
    background-repeat: no-repeat;
}
.toshi_yoshi{
    padding: 75px;
}
p{
    font-size: 16px;
}
button {
     background-color: #008a8b;
     width: 150px;
     height: 36px;
     padding: 10px;
     border: none;
}
